{%extends 'basicinformation/base.html' %}
{%load staticfiles%}

<html>
<title>{%block title %}Login To BodhiAI{%endblock%}</title>

{% block content %}

<body>
	<br>
	<br>
	<br>
<div style='text-align:center; col-sm-12'>
	<img src="{%static 'basicinformation/images/bodhiaitransparent.png' %}" alt="Bodhi AI"  style='height:25%;'>
  </div>

<h1 style='text-align:center;font-weight:bold;'>Login</h1>
<div class="panel panel-default col-sm-12">
  <div class="panel-body col-sm-12">



  <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% include 'membership/form-template.html' %}
    <!--{% if messages %}-->
<!--<ul class="messages">-->
    <!--{% for message in messages %}-->
    <!--<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
    <!--{% endfor %}-->
<!--</ul>-->
<!--{% endif %}-->
  <div class="form-group col-sm-12" style='text-align:center;'>
  <div >
  <button type="submit" class="btn btn-success">Log In</button>


  </div>


  </div>



  </form>
  
  </div>
  <img src=
</div>





</body>
{% endblock%}
</html>
