
<html>
<head>
<script>
	

$(document).ready(function () {
	var addedquests=[];
	var removedquests = 'ids';
    var  clicked_id = 0
        for(i=0 ; i<=100; i++){
				var now = eval("'#'+i")
        $(now).click(function(){
          ajKl = $(this).attr('id')
              console.log(ajKl)
         $(this).removeClass("btn btn-primary").addClass("btn btn-success");
         $(this).addClass('hidden');
		 $(eval("'#r'+ajKl")).removeClass("hidden");
         addedquests.push(ajKl)
         $('#addedQuestions').removeClass("hidden");
         $('#addedQuestions').html('').load('{% url 'QuestionsAndPapers:addQuestions' %}?question_id='+encodeURIComponent(addedquests));


          
});
	 $(eval("'#ckbox'+i")).change(function(){
		 if ($(eval("'#ckbox'+i")).is(':checked')){
				 console.log('hell')
		 }
 });
$(eval("'#r'+i")).click(function(){
    rem_id = $(this).attr('id')
        console.log(addedquests)
        rem_id = rem_id.replace('r','')
        
        $(this).addClass('hidden');
        $(eval("'#'+rem_id")).removeClass('hidden');
        for (var j = addedquests.length-1;j>=0;j--){
            if (rem_id == addedquests[j]){
                addedquests.splice(j,1)
            }
        }
    $('#addedQuestions').html('').load('{% url 'QuestionsAndPapers:addQuestions' %}?remove_id='+encodeURIComponent(addedquests));
});

};



});
</script>





</head>
<body>
<div class="hidden" id="addedQuestions">
</div>
{%block content %}
<h1 align='center'> Questions </h1>

<form action="{%url 'QuestionsAndPapers:addQuestions'%}" method='post'>{%csrf_token%}
		{%for i in que %}
			<h3 class="col-md-offset-1">{{i.text}}</h3>
			<div class="col-md-offset-10">
			<p>Maximum-Marks: {{i.max_marks}}</p>
			</div>
			<button type="button" id="{{i.pk}}" class="btn btn-default">Add to question paper</button>
<button type="button" id="r{{i.pk}}" class="hidden">Remove Question</button>

			{% for j in i.choices_set.all %}
			<div class="radio col-md-offset-1">
			Option {{forloop.counter}}
 			 <label><input type="radio" name="optradio" value="{{j.predicament}}"> {{j.text}}</label>
			</div>

			{% endfor %}
						{% endfor %}
		<input type="submit" value="Create Question Paper">					
</form>
	{%endblock%}
</body>


</html>
