{%load staticfiles %}
<html>
<body>
<head>
<script>
	
 $(document).ready(function () {
	 $('#loadingCreateTest1').hide();

   var pr
		 	for(i=1 ; i<=10; i++){
		 	$(eval("'#categoryButton'+i")).click(function(){
          category = $(this).attr('value');
	  console.log(category)
          which_klass = $('#which_klass').text()
          which_section = $('#which_section').text()
         $(this).removeClass("btn btn-default").addClass("btn btn-success");
	 $('#loadingCreateTest2').show();
 		  $('#allQuestions').removeClass("hidden");
         $('#allQuestions').html('').load('{% url 'QuestionsAndPapers:createTest' %}?chapter_test='+encodeURIComponent(category+','+which_klass+','+which_section));
       $(eval("'#'+pr")).removeClass("btn btn-success").addClass("btn btn-default");

        $('#analysisType').removeClass('hidden');



    pr = $(this).attr('id');
         
       
		 });

		 };
});


</script>


</head>

<div class="panel-heading" style="text-align:center;">{%if test_type == 'School' %}Sections Available: {%elif test_type == 'SSC' %} Category/Type:{%endif%}	</div>

<div class="btn-group" role="group" aria-label="...">
	  {% if noTest %}
  <h3 style='font-weight:bold;text-align:center;'> No Questions available </h3>
  {%else%}
    <div class="panel-body" >
  {% for i,k in categories %}
  <button type="button" class="btn btn-default text-center"  value = '{{k}}' id="categoryButton{{forloop.counter}}">{{i}}</button>
  {%endfor%}
  </div>
  {%endif%}
  <div class="hidden" id="which_klass">{{which_klass}}</div>
  <div class="hidden" id="which_section">{{section_category}}</div>
</div>
<div id = 'loadingCreateTest2' style='text-align:center;display:none;'>
<h4 style='text-center;'>Please wait... </h4>
        <img src="{%static 'basicinformation/images/bodhigif.gif' %}" >
 </div>

<div class="hidden panel panel-default" id="allQuestions" >
  <div class="panel-heading text-center">Questions</div>
  <div class="panel-body" >
{%include 'questions/klass_questions.html' %}
</div>
</div>
  
</body>
</html>
