{%load staticfiles %}
<html>
<body>
	<div class="panel panel-default" >
  <div class="panel-heading " style='text-align:center;font-weight:bold;' >Click the button to create test </div>
  <div class="panel-body">
</div>
<br>
{% if notpossible %}
<p>{{notpossible}} </p>
{%else%}
<div class='col-md-10 text-center' >
<form action= '{%url "QuestionsAndPapers:oneClickTest2" %}' method='get'>
	{% for batch in batches %}
	<label class="checkbox-inline"><input type="checkbox" name='classoneclicktest' value="{{batch}}">{{batch}}</label>
	{%endfor%}
	<br>
	<br>
  <button type="submit" class="btn btn-info text-center" id="finalTestButton" name="finalTest" value='Create Test'>Create Test</button>
<input type='text' value='{{subject}}' id = 'subtest' name = 'whichsubject'  class='hidden' >
<input type='text' value='{{numquests}}' id = 'numquests'  name = 'numquests' class='hidden' >
</form>
{%endif%}
</div>
        </div>
	</div>

</body>

</html>
