{%load staticfiles %}
<html>
	<head>
<script>
		 $(document).ready(function () {
		var pr
		 	for(i=1 ; i<=10; i++){
		 	$(eval("'#clicksubs'+i")).click(function(){

	ajKl = $(this).attr('value');
	console.log(ajKl)
         $('#includeSubs').removeClass("hidden");
         $('#includeSubs').html('').load('{% url 'QuestionsAndPapers:oneClickTest2' %}?questionsubjects='+encodeURIComponent(ajKl));
             $(eval("'#'+pr")).removeClass("btn btn-success").addClass("btn btn-default");

        $('#analysisType').removeClass('hidden');



    pr = $(this).attr('id');

     		    });
			};
     		    });



</script>
	</head>
<body>
	<div class="panel panel-default" >
  <div class="panel-heading " style='text-align:center;font-weight:bold;' >Subjects you want to include </div>
  <div class="panel-body">
{% for i in subjects %}

<div class="btn-group" role="group" aria-label="...">
	<label class="radio-inline"><input type="radio" id = 'clicksubs{{forloop.counter}}' name="clicksubs" value='{{i}}'>{{i}}</label>
</div>

{%endfor%}


        </div>

		</div>
	<div class="hidden panel panel-default" id="includeSubs" >
	<div class="panel-heading text-center" style ='text-align:center;font-weight:bold;'  >Areas to include</div>
  <div class="panel-body" >
</div>
</div>




</body>

</html>
