
<html>
	<head>
	</head>
	<body>
	{%block content %}
	<h2 style='text-align:center;'> You got {{marks}} out of {{marks.test.max_marks}} </h2>
	<h2 style='text-align:center;'> Test Taken on: {{marks.testTaken}} </h2>
		{% for quest in marks.test.questions_set.all %}
	<div class = 'well col-md-offset-1 col-md-10'>
		<h2 style='font-weight:bold;'> {{quest.text}} </h2>{% if quest.id in marks.skippedAnswers %}<p style='text-align:center;font-weight:bold;'> <span class="label label-warning">You skipped this question</span></p>{%endif%}
		{% for choice in quest.choices_set.all %}
		<p> {{choice.text }} {% if choice.predicament == 'Correct' %} <span class="label label-primary">Correct Answer</span>{%endif%}
		{% if choice.id in marks.allAnswers and choice.predicament == 'Correct'%}<span class="label label-success">Your Answer</span> {%endif%}
	{% if choice.id in marks.allAnswers and choice.predicament == 'Wrong'%}<span class="label label-danger">Your Answer</span> {%endif%}	
		</p>	
		</p>
		{%endfor%}
	</div>
	{%endfor%}

	{%endblock %}

	</body>
</html>

