{%load staticfiles%}
<html lang="en">
<head>

<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{%block scripts %}
    {%endblock scripts%}

    <title>{%block title%} Title {%endblock title%}</title>
    <link rel="shortcut icon" href ="{%static 'basicinformation/images/favicon.ico' %}" />
</head>
<body>
	<nav class="navbar navbar-default" style="background-color: #4A148C;
         border-color: #E1BEE7;"	>
		<div class="container-fluid col-sm-12">
  			<div class="navbar-header" style='padding:0px;'>
				<a class="navbar-brand" href="/">
					<img src="{%static 'basicinformation/images/bodhiainavbar.png' %}" alt="Bodhi AI" style='height:150%;width:auto;padding:0px;'>
				</a>
		        </div>
	   <ul class="nav navbar-nav" style='text-align:center;'>
		   {%if user.is_authenticated%}<li style='float:center;display:inline-block;'role="presentation"><a href="{%url 'basic:home' %}"><strong>Home</strong></a></li>{%endif%}
  {%if not user.is_authenticated %}  <li style='float:center;display:inline-block;'role="presentation"><a href="{%url 'membership:login' %}"><strong>Log In</strong></a></li>{%endif%}
  {%if user.is_authenticated%}  <li style='float:center;display:inline-block;'role="presentation"><a href="{%url 'pms:messages' %}"><strong>Messages</strong></a></li>{%endif%}
	   </ul>
	   <ul class="nav navbar-nav " style='width:35%;text-align:right;'>
<li style='float:none;display:inline-block;'> 
		   <a class="navbar-brand" href="/">
	<img src="{%static 'basicinformation/images/bodhiaismalltransparent.png' %}" alt="Bodhi AI"  style='height:250%;'>
</a></li>
	   </ul>
	   <ul class="nav navbar-nav navbar-right">
  {%if user.is_authenticated%}  <li role="presentation"><a href="{% if user.teacher %} {% url 'basic:teacherHomePage' %}{%else%}{%url 'basic:studentAnalysis' %}{%endif%}">{%if user.teacher %} <strong>Student Performance </strong>{%else%} <strong>My Performance </strong>{%endif%}</a></li>{%endif%}
  {%if user.is_authenticated %}  {%if user.teacher %}  <li role="presentation"><a href="{%url 'QuestionsAndPapers:createTest' %}"><strong>Create Test</strong></a></li> {%endif%}{%endif%}
  {%if user.is_authenticated%}{% if user.teacher %}<li role="presentation"><a href="{%url 'pms:createAnnouncement' %}"><strong>Create Annoucement</strong></a></li>{%endif%}
  {%endif%}

  {%if user.is_authenticated %}{%if user.student %}<li role="presentation"><a href="{%url 'QuestionsAndPapers:studentMyOnlineTests' %}"><strong>Homework/Tests</strong></a></li>{%endif%}{%endif%}
  {%if user.is_authenticated%}  <li role="presentation"><a href="{%url 'membership:logout' %}">Logout</a></li>{%endif%}


		             </ul>

			  </div>
	</nav>
	<br>






{%block content %}

{%endblock%}
</body>
</html>
