{% extends 'basicinformation/base.html' %}
{%load staticfiles%}

<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="">
			    <meta name="author" content="">

			    <title>{%block title %}Bodhi AI{%endblock%}</title>
		
			    {%block scripts %}
				<link href="css/bootstrap.min.css" rel="stylesheet">

					<link href="css/business-frontpage.css" rel="stylesheet">

								<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
								<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
							    {%endblock%}
	</head>

	<body style="background-image:url({%static 'basicinformation/images/background.jpg' %})">
		{%block content %}
 <header class="business-header">
 <div class="container  col-sm-12  col-xs-12 " style="background-image:url({%static 'basicinformation/images/background1.jpg' %})">
	 <h1 style='font-weight:bold;text-align:center;'>BodhiAI </h2> 
	 <h3 style='font-weight:bold;text-align:center;'>a personal assistant for every teacher and student </h3> 
	 <div class = 'col-md-offset-1 col-md-10'>
		 <h2> Bodhi AI is providing revolutionary education system with help of modern technology <strong>Artificial Intelligence</strong>. Traditionally schools adapt one-size-fits-all approach to teaching. But students learn at different pace and have different progress rates. Teachers find it difficult to identify and deal with educational needs of large number of students. Bodhi AI helps teachers to find gaps in their teaching and point to where students are struggling with subject matter. </h2>
		 <div style='text-align:center;'>
					<img src="{%static 'basicinformation/images/features.png' %}" alt="Bodhi AI" style='height:20%;width:auto;padding:0px;'>
		 </div>
		 </div>
		 <br>
		 <br>
		 <br>
		 <div style='text-align:center;' class = 'col-md-offset-1 col-md-10'>
		<h2> How it looks like from Student's perspective </h2>
		<img src="{%static 'basicinformation/images/student-bodhitalk.png' %}" alt="Bodhi AI" style='height:100%;width:auto;padding:0px;'>
		 </div>	
		<div style='text-align:center;' class = 'col-md-offset-1 col-md-10'>
		<h2> How it looks like from Teacher's perspective </h2>
		<img src="{%static 'basicinformation/images/teacher-bodhi-talk.PNG' %}" alt="Bodhi AI" style='height:100%;width:auto;padding:0px;'>
		 </div>	
		 <div class='col-md-offset-1 col-md-10'>
		 <h3>
	 “A lot of teacher time can be taken up by analysing the
answers. The insights don’t come out very easily. There are things that might have
come out of that test in another 10,000 cases elsewhere
that they can’t see. Comparing demonstrated answers and
abilities and looking for those nuances using AI, you could
generate a student profile that would be very helpful 
indeed for a teacher, who doesn’t have the capability to
analyse 10,000 tests.”
		 </h3>
		 </div>
		 <div class='col-md-offset-1 col-md-10'>
			 <h2>BodhiAI works on a platform which gives teachers and students the power to :</h2>
			 
			 <ul style='font-weight:bold;'>
			<li> Create and mark test papers : Teachers can create tests for both online and classroom purposes by choosing questions from our question bank which has thousands of top quality questions</li>
				<li> Communication (Messaging) : Teachers and Students can communicate whenever they want and whereever they want.</li>
				<li>Announcements - Teachers and management can create important annoucements which will be brodcasted to students immediately.</li>
				<li> Marks and Results - Marks and results will be bradcasted as soon as they are ready. </li>
		<li> BodhiAI Assistant - Everything discussed on previous page. For both teachers and students.</li>
		</ul>
		 </div>
		{%endblock%}
	</body>
</html>
