{% extends 'basicinformation/base.html' %}

<html>
	<head>
		<title>
			Analysis
		</title>

		{% block scripts %}
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script>
         $(document).ready(function () {
	for(i=1;i<=5;i++){
         $(eval("'#analysistype'+i")).click(function(){
		var ana_type = $(this).text()
		console.log(ana_type)
		$('#studentSubjects').removeClass('hidden')
		$('#studentSubjects').html('').load('{% url 'basic:studentSubjectAnalysis' %}?analysistype='+ana_type);

	 });	
	 };
	 });

	</script>

		{%endblock%}
	</head>
	<body>
		{% block content %}
		<br>
<div class="panel panel-default">
  <div class="panel-heading text-center">Choose an Analysis:</div>
  <div class="panel-body">
{% for i in analysisTypes %}

<div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-default text-center" id="analysistype{{forloop.counter}}">{{i}}</button>
</div>

{%endfor%}
        </div>
	<div class="hidden" id="studentSubjects">
		{% include 'basicinformation/studentAverageCurrent.html' %}
	</div>
        </div>
		{%endblock%}

	</body>

</html>
