{%load staticfiles %}
<script>

         $(document).ready(function () {

	  $('#loadingStudentAnalysis1').hide();

         $("#OnlineAnalysis").click(function(){
          which_ana = $(this).text();
          which_sub = $('#this_sub2').text();
	 });
$("#SchoolAnalysis").click(function(){
          which_ana = $(this).text();
          which_sub = $('#this_sub2').text();
	  $('#loadingStudentAnalysis2').show();
         $('#studentshowTests').removeClass("hidden");
         $('#studentshowTests').html('').load('{% url "basic:studentSubjectAnalysis" %}?studentwhichana='+which_sub);
	 });

});
    </script>




<div class="panel panel-default ">
  <div class="panel-heading text-center">Choose an Analysis Type:</div>
  <div class="panel-body">
	  <button type="button" class="btn btn-default text-center  col-xs-12"  id="OnlineAnalysis">School Analysis</button>
	<button type="button" class="btn btn-default text-center  col-xs-12"  id="SchoolAnalysis">Online Analysis</button>
	<button type="button" class="hidden btn btn-default text-center col-xs-12" value ="{{sub}}" id="this_sub2">{{sub}}</button>


  </div>
</div>
<div id = 'loadingStudentAnalysis2' style='text-align:center;display:none;'>
 <h4 style='text-center;'>Please wait... </h4>
         <img src="{%static 'basicinformation/images/ajax-loader.gif' %}" >
  </div> 


<div class='hidden ' id = 'studentshowTests'>
	{% include 'basicinformation/student_self_sub_tests.html' %}
</div>
