{%load staticfiles%}
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>$('#loadingStudentWeakAreas1').hide();</script>
{% if noMistakes %}

<h1 style='font-weight:bold;,text-align:center;'> Congrats ! You haven't made a mistake yet. </h1>
{%endif%}
		{%if not freq %}
		<h2 style='font-weight:bold;text-align:center;'> You have to take at-least one test to find your weaknesses or you haven't made any mistakes yet. </h2>
		{%else%}
    <script>
$(document).ready(function () {

var pointBackgroundColors = [];
    var ctx = document.getElementById("myChart");
    var myChart1 = new Chart(ctx, {
            type: 'bar',
            data: {
		    labels: [{%for u,k in freq %}'{{u}}',{%endfor%}],
                datasets: [{
                    label: 'Mistakes/Not-Attempted - Topic wise',



		    data: [{%for u,k in freq%}{{k}},{%endfor%}],
			backgroundColor: [
                        'rgba(255, 99, 132, 0.4)',
			'rgba(54, 100, 11, 0.6)',
			'rgba(64, 200, 46, 0.6)',                  
			'rgba(94, 155, 89, 0.6)',                  
			'rgba(104, 255, 55, 0.6)',                 
			'rgba(10, 90, 35, 0.6)',                   
			'rgba(24, 162, 255, 0.6)',                 
			'rgba(94, 12, 25, 0.6)',                   
                                      ],
                    borderColor: [ 'rgba(255,99,132,1)',
		   		 'rgba(54, 100, 11, 1)',
		   		 'rgba(64, 200, 46, 1)',
		   		 'rgba(94, 155, 89, 1)',
		   		 'rgba(104, 255, 55, 1)',
		   		 'rgba(10, 90, 35, 1)',
		   		 'rgba(24, 162, 255, 1)',
		   		 'rgba(94, 12, 25, 1)',
                                            ],




                                  borderWidth: 3



		}]
            },

            options: {   responsive: true,
		    maintainAspectRatio: false,
		    
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,

                        }
                    }]
                }
            }
        });
		{%for u,k in freq %}
		{% if k <= 3 %}
		pointBackgroundColors.push("#90cd8a");					        
		{%else %}
		pointBackgroundColors.push("#880E4F");					        
		{%endif%}
		{%endfor%}

		

		myChart1.update();


var pointBackgroundColorsTiming = [];
    var ctx1 = document.getElementById("myChartTiming");
    var myChart2 = new Chart(ctx1, {
            type: 'bar',
            data: {
		    labels: [{%for u,k in timing %}'{{u}}',{%endfor%}],
                datasets: [{
                    label: 'Average time per question (topic wise)',

		    data: [{%for u,k in timing%}{{k}},{%endfor%}],
			 backgroundColor: [
                        'rgba(255, 99, 132, 0.4)',
			'rgba(54, 100, 11, 0.6)', 'rgba(64, 200, 46, 0.6)',                  
			'rgba(94, 155, 89, 0.6)',                  
			'rgba(104, 255, 55, 0.6)',                 
			'rgba(10, 90, 35, 0.6)',                   
			'rgba(24, 162, 255, 0.6)',                 
			'rgba(94, 12, 25, 0.6)',                   
                                      ],
                    borderColor: [ 'rgba(255,99,132,1)',
		   		 'rgba(54, 100, 11, 1)',
		   		 'rgba(64, 200, 46, 1)',
		   		 'rgba(94, 155, 89, 1)',
		   		 'rgba(104, 255, 55, 1)',
		   		 'rgba(10, 90, 35, 1)',
		   		 'rgba(24, 162, 255, 1)',
		   		 'rgba(94, 12, 25, 1)',
                                            ],


                                  borderWidth: 3



		}]
            },




            options: {   responsive: true,
		    maintainAspectRatio: false,
 scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,

                        }
                    }]
                },
              			    title: {
				display: true,
				text: "Average timing (topic wise) in seconds"
			    },

			    animation:{
				animateScale: true,
				animateRotate: true,
			    },

                        }
                   
                
            
        });
		{%for u,k in timing %}
		{% if k <= 60 %}
		pointBackgroundColorsTiming.push("#33691E");					        
		{%else %}
		pointBackgroundColorsTiming.push("#E65100");					        
		{%endif%}
		{%endfor%}

		

		myChart2.update();







    });
</script>


	    <div class='col-md-6 col-xs-12' >
	<h2 style="text-align:center;"> My Weak Areas </h2>
	<div>
	<canvas  id="myChart"   height="400" >
</canvas>
	</div>	
	    </div>
	    <br>
	    <br>
	    

	    <div class='col-md-6 col-xs-12' >
	<h2 style="text-align:center;"> Average time taken per topic (in seconds) </h2>
	<div>
<canvas  id="myChartTiming"  height="400" >
	</canvas>
	</div>

	    </div>
			<br>
<div class='col-md-6'>
		    <h3> Wrong/Skipped questions  topic-wise.</h3>
		{% for u,k in freq %}
		<span class="badge badge-primary"> {{k|floatformat:1}}% of '{{u}}' questions were either wrong or not-attempted .</span>
		{%endfor%}
		    </div>

	<div class='col-md-6'>
		    <h3> Average timing Data based on:</h3>
		{% for u,k in time_freq %}
		<span class="badge badge-info"> {{k}} questions of  '{{u}}'</span>
		{%endfor%}
		    </div>


		<br>
	    
	    {%endif%}



