{%load staticfiles%}
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>$('#loadingStudentWeakAreas1').hide();</script>
		{%if not freq %}
		<h2 style='font-weight:bold;text-align:center;'> You have to take at-least one test to find your weaknesses </h2>
		{%else%}
    <script>
$(document).ready(function () {

var pointBackgroundColors = [];
    var ctx = document.getElementById("myChart");
    var myChart1 = new Chart(ctx, {
            type: 'polarArea',
            data: {
		    labels: [{%for u,k in freq %}'{{u}}',{%endfor%}],
                datasets: [{
                    label: 'Weak Areas',



		    data: [{%for u,k in freq%}{{k}},{%endfor%}],
			backgroundColor: [
                        'rgba(255, 99, 132, 0.4)',
			'rgba(54, 100, 11, 0.6)',
			'rgba(64, 200, 46, 0.6)',                  
			'rgba(94, 155, 89, 0.6)',                  
			'rgba(104, 255, 55, 0.6)',                 
			'rgba(10, 90, 35, 0.6)',                   
			'rgba(24, 162, 255, 0.6)',                 
			'rgba(94, 12, 25, 0.6)',                   
                                      ],
                    borderColor: [ 'rgba(255,99,132,1)',
		   		 'rgba(54, 100, 11, 1)',
		   		 'rgba(64, 200, 46, 1)',
		   		 'rgba(94, 155, 89, 1)',
		   		 'rgba(104, 255, 55, 1)',
		   		 'rgba(10, 90, 35, 1)',
		   		 'rgba(24, 162, 255, 1)',
		   		 'rgba(94, 12, 25, 1)',
                                            ],




                                  borderWidth: 3



		}]
            },

            options: {   responsive: false,
		    
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,

                        }
                    }]
                }
            }
        });
		{%for u,k in freq %}
		{% if k <= 3 %}
		pointBackgroundColors.push("#90cd8a");					        
		{%else %}
		pointBackgroundColors.push("#880E4F");					        
		{%endif%}
		{%endfor%}

		

		myChart1.update();


var pointBackgroundColorsTiming = [];
    var ctx1 = document.getElementById("myChartTiming");
    var myChart2 = new Chart(ctx1, {
            type: 'doughnut',
            data: {
		    labels: [{%for u,k in timing %}'{{u}}',{%endfor%}],
                datasets: [{

		    data: [{%for u,k in timing%}{{k}},{%endfor%}],
			 backgroundColor: [
                        'rgba(255, 99, 132, 0.4)',
			'rgba(54, 100, 11, 0.6)',
			'rgba(64, 200, 46, 0.6)',                  
			'rgba(94, 155, 89, 0.6)',                  
			'rgba(104, 255, 55, 0.6)',                 
			'rgba(10, 90, 35, 0.6)',                   
			'rgba(24, 162, 255, 0.6)',                 
			'rgba(94, 12, 25, 0.6)',                   
                                      ],
                    borderColor: [ 'rgba(255,99,132,1)',
		   		 'rgba(54, 100, 11, 1)',
		   		 'rgba(64, 200, 46, 1)',
		   		 'rgba(94, 155, 89, 1)',
		   		 'rgba(104, 255, 55, 1)',
		   		 'rgba(10, 90, 35, 1)',
		   		 'rgba(24, 162, 255, 1)',
		   		 'rgba(94, 12, 25, 1)',
                                            ],


                                  borderWidth: 3



		}]
            },

            options: {   responsive: false,

              			    title: {
				display: true,
				text: "Average timing (topic wise) in seconds"
			    },
			    animation:{
				animateScale: true,
				animateRotate: true,
			    },

                        }
                   
                
            
        });
		{%for u,k in timing %}
		{% if k <= 60 %}
		pointBackgroundColorsTiming.push("#33691E");					        
		{%else %}
		pointBackgroundColorsTiming.push("#E65100");					        
		{%endif%}
		{%endfor%}

		

		myChart2.update();







    });
</script>


	    <div class='col-md-6 col-xs-12' >
	<h2 style="text-align:left;"> My Weak Areas </h2>
	<canvas  id="myChart"  width="300" height="400" >
</canvas>
	
	    </div>
	    <br>
	    <br>
	    <div >
		    <h2> Wrong/Skipped questions  areawise.</h2>
		{% for u,k in freq %}
		<h3>	<span class="label label-Primary" >You got {{k}}% of '{{u|floatformat:2}}' wrong.</span></h3>
		{%endfor%}
		    </div>


	    <div class='col-md-7 col-xs-12' >
	<h2 style="text-align:left;"> Average time taken per area (in seconds) </h2>
<canvas  id="myChartTiming" width="350" height="400" >
	</canvas>

	    </div>
			<br>
		<br>
	    
	    {%endif%}



