{%load staticfiles %}

<script>

         $(document).ready(function () {
var pr

	  $('#loadingStudentAnalysis2').hide();
	 for(i=1 ; i<=10; i++){

         $(eval("'#studentTestids'+i")).click(function(){
          which_test = $(this).attr('value');
	  which_subject = $('#which_subject').attr('value')
	console.log(which_subject)
	  $('#loadingStudentAnalysis3').show();
        $(this).removeClass("btn btn-default").addClass("btn btn-success");
         $('#studentAnalyzeTest').removeClass("hidden");
         $('#studentAnalyzeTest').html('').load('{% url "basic:studentSubjectAnalysis" %}?studentTestid='+which_test+','+which_subject);
               $(eval("'#'+pr")).removeClass("btn btn-success").addClass("btn btn-default");
    pr = $(this).attr('id');




	 });
};
});
    </script>


    {% if not tests %}
    <div class='container'>
    <div class="alert alert-info" role="alert"><h3 class='text-center'>No test taken yet.</h3></div>
    </div>
    {%else%}

<div class="panel panel-default ">
  <div class="panel-heading text-center">Choose a Test:</div>
  <div class="panel-body ">
	  {% for test in tests%}
	  <button type="button" class="btn btn-default text-center " value='{{test.test.id}}'  id="studentTestids{{forloop.counter}}">{{test.test.published}}</button>

	{%endfor%}
	  <button type="button" class="hidden " value='{{subject}}'  id="which_subject">{{subject}}</button>
  </div>
</div>
<div id = 'loadingStudentAnalysis3' style='text-align:center;display:none;'>
 <h4 style='text-center;'>Please wait... </h4>
         <img src="{%static 'basicinformation/images/bodhigif.gif' %}" >
  </div> 


<div class='hidden ' id = 'studentAnalyzeTest'>
	{% include 'basicinformation/student_analyze_test.html' %}
</div>
{%endif%}
