		<script>

         $(document).ready(function () {
    var pr

        for(i=1 ; i<=20; i++){
         $(eval("'#studentSubjectButton'+i")).click(function(){
          which_sub = $(this).text();
	  which_ana = $('#which_ana').text()
		  console.log(which_test,which_klass)
         $(this).removeClass("btn btn-default").addClass("btn btn-success");
         $('#studentshowtest').removeClass("hidden");
         $('#studentshowtest').html('').load('{% url 'basic:teacher_update_page' %}?student_sub='+which_sub+','+which_ana);


            $(this).animate({
            height: '40px',
            width: '100px',
        });

          $(eval("'#'+pr")).animate({
            height: '35px',
            width: '110px',
        });
        $(eval("'#'+pr")).removeClass("btn btn-success").addClass("btn btn-default");




    pr = $(this).attr('id');
});
};
});
    </script>




<div class="panel panel-default">
  <div class="panel-heading text-center">Choose an Analysis:</div>
  <div class="panel-body">



{% for sub in subjects %}
	<p> {{sub}}</p>
		{%endfor%}
		{{ana_type}}
	</body>
</html>
