{%load staticfiles%}
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<link rel='stylesheet' type='text/css' href='{% static "basicinformation/css/student_weakAreas.css" %}'>
<script>$('#loadingStudentWeakAreas1').hide();</script>
{% if noMistakes %}

<h1 style='font-weight:bold;,text-align:center;'> Congrats ! You haven't made a mistake yet. </h1>
{%endif%}
		{%if not freq %}
		<h2 style='font-weight:bold;text-align:center;'> You have to take at-least one test to find your weaknesses or you haven't made any mistakes yet. </h2>
		{%else%}
    <script>
$(document).ready(function () {
var pointBackgroundColors = [];
    var ctx = document.getElementById("myChart");
    var myChart1 = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
		    labels: [{%for u,k in freq %}'{{u}}',{%endfor%}],
                datasets: [{
                    label: 'Mistakes/Not-Attempted - Topic wise',



		    data: [{%for u,k in freq%}{{k}},{%endfor%}],
			backgroundColor: [
                        'rgba(255, 99, 132, 0.4)',
			'rgba(54, 100, 11, 0.6)', 'rgba(64, 200, 46, 0.6)',                  
			'rgba(94, 155, 89, 0.6)',                  
			'rgba(104, 255, 55, 0.6)',                 
			'rgba(10, 90, 35, 0.6)',                   
			'rgba(24, 162, 255, 0.6)',                 
			'rgba(94, 12, 25, 0.6)',                   
                                      ],
                    borderColor: [ 'rgba(255,99,132,1)',
		   		 'rgba(54, 100, 11, 1)',
		   		 'rgba(64, 200, 46, 1)',
		   		 'rgba(94, 155, 89, 1)',
		   		 'rgba(104, 255, 55, 1)',
		   		 'rgba(10, 90, 35, 1)',
		   		 'rgba(24, 162, 255, 1)',
		   		 'rgba(94, 12, 25, 1)',
                                            ],




                                  borderWidth: .5



		}]
            },

            options: {   responsive: true,
		    maintainAspectRatio: false,
		    
                scales: {
	 xAxes:[{ticks:{beginAtZero:true}}],

                    yAxes: [{
                        ticks: {
                            beginAtZero:false,

                        }
                    }]
                }
            }
        });
		{%for u,k in freq %} {% if k <= 3 %}
		pointBackgroundColors.push("#90cd8a");					        
		{%else %}
		pointBackgroundColors.push("#880E4F");					        
		{%endif%}
		{%endfor%}

		

		myChart1.update();


var pointBackgroundColorsTiming = [];
    var ctx1 = document.getElementById("myChartTiming");
    var myChart2 = new Chart(ctx1, {
            type: 'horizontalBar',
            data: {
		    labels: [{%for u,k in timing %}'{{u}}',{%endfor%}],
                datasets: [{
                    label: 'Average time per question (topic wise)',

		    data: [{%for u,k in timing%}{{k}},{%endfor%}],
			 backgroundColor: [
                        'rgba(255, 99, 132, 0.4)',
			'rgba(54, 100, 11, 0.6)', 'rgba(64, 200, 46, 0.6)',                  
			'rgba(94, 155, 89, 0.6)',                  
			'rgba(104, 255, 55, 0.6)',                 
			'rgba(10, 90, 35, 0.6)',                   
			'rgba(24, 162, 255, 0.6)',                 
			'rgba(94, 12, 25, 0.6)',                   
                                      ],
                    borderColor: [ 'rgba(255,99,132,1)',
		   		 'rgba(54, 100, 11, 1)',
		   		 'rgba(64, 200, 46, 1)',
		   		 'rgba(94, 155, 89, 1)',
		   		 'rgba(104, 255, 55, 1)',
		   		 'rgba(10, 90, 35, 1)',
		   		 'rgba(24, 162, 255, 1)',
		   		 'rgba(94, 12, 25, 1)',
                                            ],


                                  borderWidth: 0.5



		}]
            },




            options: {   responsive: true,
		    maintainAspectRatio: false,
 scales: {
	 xAxes:[{ticks:{beginAtZero:true}}],
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,

                        }
                    }]
                },
              			    title: {
				display: true,
				text: "Average timing (topic wise) in seconds"
			    },

			    animation:{
				animateScale: true,
				animateRotate: true,
			    },

                        }
                   
                
            
        });
		{%for u,k in timing %}
		{% if k <= 60 %}
		pointBackgroundColorsTiming.push("#33691E");					        
		{%else %}
		pointBackgroundColorsTiming.push("#E65100");					        
		{%endif%}
		{%endfor%}

		

		myChart2.update();







    });
</script>
<br>
<br>
<hr>
<div class='container'>
	    <div class='weakAreasContainer' >
	<h2 style="text-align:center;"> My Weak Areas </h2>
	<div>
	<canvas  id="myChart"  height='600'  >
</canvas>
	</div>	
	    <br>
	    <br>
	<div >
		    <h3 class='text-center'> Wrong/Skipped questions  topic-wise.</h3>
		{% for u,k in freq %}
		<p class="bg-warning"> {{k|floatformat:1}}% of '{{u}}' questions were either wrong or not-attempted .</p>
		{%endfor%}
		    </div>
</div>

<br>
<hr>
	    <div class='timingContainer' >
	<h2 style="text-align:center;"> Average time taken per topic (in seconds) </h2>
	<div>
<canvas  id="myChartTiming"  height="600" >
	</canvas>
	</div>

			<br>

	<div >
		    <h3 class='text-center'> Average timing Data based on:</h3>
		{% for u,k in time_freq %}
		<p class="bg-warning"> {{k}} questions of  '{{u}}'</p>
		{%endfor%}
		    </div>
	    </div>
	    </div>


		<br>

</div>
	    <div class='strongTopics'>
			<h2 class='text-center'> My Strong topics</h2>

		{%for u,k in skills %}
		{% if k != 0 %}
		<p>{{k|floatformat:1}}% of '{{u}}' were correct..</p>
	<div class="progress">
			<div class="progress-bar {%if k > 80 %}progress-bar-success progress-bar-striped active{%elif 60 < k < 80 %}progress-bar-info progress-bar-striped active{%elif 40 < k < 60%}progress-bar-warning progress-bar-striped active{%elif k < 40 %}progress-bar-danger progress-bar-striped active{%endif%}" role="progressbar" aria-valuenow="{{k}}"
								     aria-valuemin="0" aria-valuemax="100" style="width:{{k}}%;color:#000;">
			{{u}}- {{k|floatformat:2}}%
				        </div>
					
		</div>

		</div>
		{%endif%}
		{%endfor%}
		</div>

	    {%endif%}

