{%extends 'basicinformation/base.html' %}
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title %}BodhiAI|Student Page{%endblock %}</title>
    {%block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
     <script>

    {% for key,value in subjectwiseMarks.items %}
     $(document).ready(function () {
	     var ctx{{key|slice:":5"}} = document.getElementById("myChart{{key|slice:":5"}}");
	      myChart = new Chart(ctx{{key|slice:":5"}}, {
            type: 'bar',
            data: {
		    labels: [{% for da in value.time%}'{{da}}',{%endfor%}],
                datasets: [{
                    label: 'Test Marks in percent',



		    data: [{%for ma in value.marks %}{{ma}},{%endfor%}],
			backgroundColor: [
                        'rgba(255, 99, 132, 0.4)',
			'rgba(54, 100, 11, 0.6)',
			'rgba(64, 200, 46, 0.6)',                  
			'rgba(94, 155, 89, 0.6)',                  
			'rgba(104, 255, 55, 0.6)',                 
			'rgba(10, 90, 35, 0.6)',                   
			'rgba(24, 162, 255, 0.6)',                 
			'rgba(94, 12, 25, 0.6)',                   
                                      ],
                    borderColor: [ 'rgba(255,99,132,1)',
		   		 'rgba(54, 100, 11, 1)',
		   		 'rgba(64, 200, 46, 1)',
		   		 'rgba(94, 155, 89, 1)',
		   		 'rgba(104, 255, 55, 1)',
		   		 'rgba(10, 90, 35, 1)',
		   		 'rgba(24, 162, 255, 1)',
		   		 'rgba(94, 12, 25, 1)',
                                            ],




                                  borderWidth: 3



		}]
            },

            options: {   responsive: true,
		    maintainAspectRatio: false,
		    
                scales: {
		                    yAxes: [{
                        ticks: {
                            beginAtZero:true,

                        }
                    }]
                }
            }
        });
        });

     
    {%endfor%}		
    {%endblock%}
</head>
<body>
{%block content%}
<h1 style='text-align:center;'>Student Page</h1>


<div class="jumbotron col-md-offset-1 col-md-10 col-sm-12">
  <h1 id="name">Hello {{profile.name}}</h1>
  <p>Class: {{profile.klass}}</p>
  <p>Rollnumber: {{profile.rollNumber}}</p>
  <p>Date of Birth: {{profile.dob}}</p>

</div>
<hr>
{%if announcements %}
<h2 style= 'text-align:center;'> Announcements </h2>
	<div class="alert alert-info col-md-offset-1 col-md-10  col-xs-12">
		{% for announcement in announcements %}
		<strong>By: {{announcement.announcer}}  <h3>{{announcement.text}} </strong></h3>
			<h4>on: {{announcement.date}}</h4>
		{%endfor%}
	</div>

{%endif%}


{%for sub in subjects %}
<div class=" col-md-4 col-md-offset-1  col-xs-12"   style="border-style: solid;  border-width: 5px; border-color:#424242; background:rgba(244, 255, 250,0.5) ; ">
<h2 id='subjectName' class="text-center">{{sub.name}}</h2>
{% if sub.teacher == BodhiAI %}
<h4><del> Taught By: {{sub.teacher}}</del></h4>
{%else%}
<h4> Taught By: {{sub.teacher}}</h4>
{%endif%}

<div>
<canvas  id="myChart{{sub.name|slice:":5"}}"   height="400"></canvas>
</div>
</div>
{%endfor%}


{%endblock%}


</body>
</html>
