<script>

         $(document).ready(function () {
    var pr

        for(i=1 ; i<=10; i++){
         $(eval("'#individualonlineTestid'+i")).click(function(){
          which_testid = $(this).attr('value');
	  console.log(which_testid)
         $(this).removeClass("btn btn-default").addClass("btn btn-success");
         $('#individualonlinetestanalysis').removeClass("hidden");
         $('#individualonlinetestanalysis').html('').load('{% url 'basic:teacher_update_page' %}?individualonlinetestid='+which_testid);


            $(this).animate({
            height: '40px',
            width: '170px',
        });

          $(eval("'#'+pr")).animate({
            height: '35px',
            width: '160px',
        });
        $(eval("'#'+pr")).removeClass("btn btn-success").addClass("btn btn-default");




    pr = $(this).attr('id');
});
};
});
    </script>

<div class="panel panel-default">
  <div class="panel-heading text-center">Choose a Test</div>
  <div class="panel-body col-sm-12">
	  {%if not tests %}
	  <h3 style="text-align:center;font-weight:bold;"> No Tests taken yet. </h3>
	  {%else%}
{% for i in tests %}

<div class="btn-group " role="group" aria-label="...">
	<button type="button" class="btn btn-default text-center col-sm-12" value ="{{i.id}}" id="individualonlineTestid{{forloop.counter}}">{{i.published}}</button>
</div>
{%endfor%}
{%endif%}
        </div>
<div class='hidden' id = 'individualonlinetestanalysis'>
{%include 'basicinformation/teacher_online_individualPerformance3.html' %}
</div>
