<script>

         $(document).ready(function () {
    var pr

        for(i=1 ; i<=10; i++){
         $(eval("'#subjectButton'+i")).click(function(){
          which_sub = $(this).text(); which_klass = $('#which_class').text()
		  console.log(which_sub,which_klass);
         $(this).removeClass("btn btn-default").addClass("btn btn-success");
         $('#onlinetestid').removeClass("hidden");
         $('#onlinetestid').html('').load('{% url 'basic:teacher_update_page' %}?onlineschoolSubject='+which_sub+','+which_klass);


            $(this).animate({
            height: '40px',
            width: '80px',
        });

          $(eval("'#'+pr")).animate({
            height: '35px',
            width: '75px',
        });
        $(eval("'#'+pr")).removeClass("btn btn-success").addClass("btn btn-default");




    pr = $(this).attr('id');
});
};
});
    </script>

<div class="panel panel-default">
  <div class="panel-heading text-center">Choose a Subject</div>
  <div class="panel-body">
{% for i in subs %}

<div class="btn-group col-sm-12" role="group" aria-label="...">
	<button type="button" class="btn btn-default text-center col-sm-12" value ="{{i}}" id="subjectButton{{forloop.counter}}">{{i}}</button>
	<button type="button" class="hidden btn btn-default text-center" value ="{{i}}" id="which_class">{{which_class}}</button>
</div>
{%endfor%}
        </div>
<div class='hidden ' id = 'onlinetestid'>
{%include 'basicinformation/teacher_online_analysis2.html' %}
</div>
