{%extends 'basicinformation/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}BodhiAI|Teacher{%endblock%}</title>
{%block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

{%endblock%}

</head>
<body>
	{% block content %}
	<h1 style='text-align:center;'>{{profile.school}}</h1>

<div class='well  col-xs-12 col-md-offset-1 col-md-10'>
<h1 style='font-size:400%;'>Hello {{profile.name}}</h1>
	<h3> You teach {{num_klasses}} classes at {{profile.school}}</h3>
	{% for kl in klasses %}
	<h4> <mark>{{kl}}</mark> </h4>
	{%endfor%}

	<h3> You teach {{num_subjects}} subjects </h3>
	{% for sub in subjects %}
	<h4> <mark>{{sub}}</mark> </h4>
	{%endfor%}
</div>

<div class='col-md-offset-1 col-md-10 col-xs-12 col-sm-12' >
	<h2 style='text-align:center;'> Problematic areas (Most to Least) </h2>
	{% for sub,klass,oall in weak_links %}
	<div class='well  col-xs-12'>
		<h3>	For Class: {{klass}} </h3>
		<h3>	For Subject: {{sub}} </h3>
		<h3> Problematic chapters/sections are:
		       	 </h3>
{%for i in oall %}<p class="bg-danger">{{i}}</p>{%endfor%}
		<form action='{% url "basic:TeacherWeakAreas" %}' method='get'>
			<input type='text' value='{{klass}}' name='weakAreasClass' class='hidden' >
			<input type='text' value='{{sub}}' name='weakAreasSub' class='hidden' >
			<input type="submit" class="btn btn-info" name='weakAreasButton' value="See in Detail">
		</form>
</div>
	{%endfor%}
</div>

	{%endblock%}
</body>
</html>
